<!DOCTYPE html>
<html>
  <head>
    <title>Dor's skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>My Amazing Skill</h1>
    <h3>Please enjoy looking at my <%= skill.name%> skill </h3>
    <hr>

    <form  action="/skills/<%= skill.id%>?_method=DELETE" method="POST">
      <button type="submit">Delete Da Skill</button>

  </body>
</html>
