<!DOCTYPE html>
<html>
  <head>
    <title>Dor's skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>My Amazing Skill</h1>
    <h3>Please enjoy looking at my <%= skill.name   %> skill </h3>
    <hr>

          <ul>
            <li><%= skill.name   %></li>
          </ul>
          
  </body>
</html>
