<!DOCTYPE html>
<html>
  <head>
    <title>Dor's skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form class="" action="/skills/submit" method="POST">
    <input type="text" name="name" >
    <button type="submit">Submit Da killer Skill</button>
  </form>
  </body>
</html>
