<!DOCTYPE html>
<html>
  <head>
    <title>Dor's skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>My Amazing Skills</h1>
    <h3>Please enjoy looking at my Dev skills </h3>
    <hr>
      <ul>
        <%  for(let skill of skills) { %>
              <li><a href="/skills/<%= skill.id%>"><%= skill.name%></a></li>

        <% }%>
      </ul>

        <a href="skills/new">Add Skill</a>

  </body>
</html>
